%article.blog
  %form
    .field
      publish?
      %input{ type: 'checkbox' }
    .field
      %textarea
    .field
      %input{ type: 'submit' }
- 5.times do
  %article.blog
    .admin
      = link_to 'edit', "#"
      = "-"
      = link_to 'delete', "#"
    %h1 Article title
    %h2 Article sub title
    %p In placerat integer in mauris tempor porta, odio magna, ultricies augue, integer penatibus aenean est a lacus, lundium etiam? Risus in diam dignissim facilisis amet natoque tempor et egestas, tincidunt augue tempor natoque. Nec, elementum porttitor massa odio vel! Nunc auctor, scelerisque nisi ac augue adipiscing risus! Auctor urna, nunc? Dis pulvinar placerat habitasse porta turpis habitasse urna facilisis integer nisi odio massa rhoncus ultricies mid, facilisis! Non pulvinar, montes! Parturient, et elementum, auctor platea. Purus cum? Rhoncus dis? Purus vel cum massa platea, duis in sit, rhoncus pellentesque elit in scelerisque tincidunt sit dignissim, turpis augue platea placerat, etiam lundium sit lorem proin turpis! Magna habitasse? Magna velit platea quis a porttitor! Urna sit mattis ac tincidunt parturient, pulvinar nec facilisis, vel montes, proin, ac magnis in urna pulvinar aliquet, dignissim magnis porta, natoque. Tortor facilisis pulvinar mid, aliquam nunc, elementum lectus, et enim. Sit urna. Sed ridiculus, in et turpis mauris tristique turpis. Rhoncus risus et nunc? A sed lacus mauris? Vut. Et in elementum urna et, aenean. Nec enim auctor est ut ridiculus montes platea sed? Etiam quis cursus egestas ultrices nisi, a, natoque, turpis tempor tortor facilisis duis! Parturient ut sociis urna ultricies platea arcu. Montes integer mattis turpis? Dolor est dignissim natoque adipiscing vel? Ultrices sed purus, elit tincidunt porta. Mattis ultrices tempor elementum sociis scelerisque, ut pellentesque pu
