%article.photo
  %span.photo_container= image_tag "/placeholder/400x500/000000/0066cc"
%article.photo
  %span.photo_container= image_tag "/placeholder/500x300/eeeeee/0066cc"
%article.photo
  %span.photo_container= image_tag "/placeholder/500x500/dddddd/0066cc"
%article.photo
  %span.photo_container= image_tag "/placeholder/420x720/ececec/0066cc"
