@import 'mixins'
$karla: 'Karla', sans-serif
$sans: arial, sans-serif
$blue: #2f98dd
$red: #a0511d
$green: #229b2e
$yellow: #dcde37
$light_gray: #bdd1de


*
  text-decoration: none
  color: $light_gray
  font: normal normal 13px $sans

body
  width: 100%
  background: url('/assets/bg.jpg')
  header
    #main
      padding: 55px 45px
      background: url('/assets/circle.png') 20px -55px no-repeat
    .admin_actions
      position: absolute
      right: 20px
      top: 10px
      a
        border-right: solid 2px $light_gray
        padding: 3px 10px 3px 5px
        &:hover
          color: $blue
        &:last-child
          border: none
    h1
      font: normal bold 48px $karla
      *
        font: normal bold 48px $karla
      span:nth-child(1)
        color: $blue
      span:nth-child(2)
        color: $red
      span:nth-child(3)
        color: $green
      span:nth-child(4)
        color: $yellow
    nav.social_links
      a
        float: left
        height: 38px
        width: 38px
        display: block
        text-indent: -6969px
        margin: 45px 35px 45px 0
        &.hashrocket
          background: url('/assets/hashrocket.png') 0 0 no-repeat
          &:hover
            background: url('/assets/hashrocket_hover.png') 0 0 no-repeat
        &.twitter
          background: url('/assets/twitter.png') 0 0 no-repeat
          margin-right: 20px
          &:hover
            background: url('/assets/twitter_hover.png') 0 0 no-repeat
        &.github
          background: url('/assets/github.png') 0 0 no-repeat
          width: 51px
          &:hover
            background: url('/assets/github_hover.png') 0 0 no-repeat
    nav
      a
        font: normal bold 18px $sans
        margin-right: 15px
        &:hover
          color: $blue
      clear: left
  section
    position: absolute
    left: 400px
    top: 0px
    border-left: solid $green 20px
    padding-left: 3px
    article
      background: url('/assets/article_bg.jpg')
      width: 700px
      padding: 55px 40px 40px 40px
      margin-bottom: 1px
      position: relative
      +box-shadow(0px 0px 2px 0px #111111)
      .admin
        position: absolute
        top: 10px
        right: 20px
      h1
        font: normal normal 24px $sans
        color: $blue
        margin-bottom: 27px
      h2
        font: normal normal 18px $sans
        color: $red
        margin-bottom: 18px
      p
        font: normal normal 12px "Duru Sans"
        text-align: justify
        padding: 5px 0
        line-height: 1.5em
        a
          font: normal normal 12px "Duru Sans"
          color: $green
      &.photo
        text-align: center
        span.photo_container
          display: inline-block
          padding: 5px 5px 2px 5px
          background: #000000
          +border-radius(5px)
          border: solid 2px #ffffff
    form
      margin-bottom: 30px
      div.field
        margin: 10px
        textarea
          width: 100%
          height: 500px
          border: solid 2px #000000
          +border-radius(5px)
          background: transparent
        input[type="submit"]
          float: right
          +button($green)

